<%- model_class = Workspace -%>

  
<table class="table table-hover">
  <thead>
    <tr>
      
      <th><%= model_class.human_attribute_name(:Workspace) %></th>
      <!-- <th><%#=t '.actions', :default => t("helpers.actions") %></th> -->
    </tr>
  </thead>
<tbody>

    <% @workspaces.each do |workspace| %>
      <tr>
        <td><h4><%= link_to workspace.name , workspace_projects_path(workspace) %></h4></td>
        <td>
      <%#= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_workspace_path(workspace), :class => 'btn btn-mini' %><% end %>
          <%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      workspace_path(workspace),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    
  </tbody>
</table>
<br />
<%= link_to 'New Workspace',
            new_workspace_path,
            :class => 'btn btn-primary' %>

