<% unless @projects.empty? %>
  <table class="table table-hover">
    <tbody>

      <% @projects.each do |project| %>
        <tr>
          <td><h5><%= link_to project.name , workspace_project_tasks_path(@workspace , project) %></h5></td>
        </tr>
      <% end %>

    </tbody>
  </table>
<% end %>

<%= link_to 'Add Project', new_workspace_project_path(@workspace), :class => 'btn btn-primary' %>
