a:hover {text-decoration:none;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:active {text-decoration:underline;}

.login-box {
  border: 1px solid;
  margin-top: 5%;
  box-shadow: 10px 10px 5px #777;
  padding: 1%;
  margin-left: 15%;
}

.login-heading {
  margin=20%;
  padding-bottom: 1%;
  text-align: center;
  border-bottom: 2px solid;
  border-bottom-color: #aaa;
  box-shadow: 0 7px 4px -4px lightblue;
  margin-bottom: 8%;
}

.footer-links {
  margin-left: 1%;
  margin-top: 5%;

}

.logo{
  margin-left: -25%;
  margin-top: 20%;
  }
.logo1{
    margin-left: 40%;
    margin-top: 5%;
  }

.footer-links a {
  color: #999;
}

.space {  margin-left: 60px; }
.width-drop { width: 20px; }

.task_list {
  margin-bottom: 10px;
}
